.App {
  text-align: center;
}

/* .MuiTypography-root {
  font-family: 'Baloo Bhaina 2', 'cursive' !important;
} */

.White-container {
  background-color: #ffffff;
  border-bottom: 1px solid #dadce0;
}